:root {
  --bg: red;
  --bg-accent: #484a4d;
  --text-color: #1d1d1d;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 6px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* Top Navigation Bar */

/* <li> */
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  margin-left: 10px;
  padding: 10px;
  padding: 7px;
  border-radius: 50%;
}

.icon-button:hover {
  background-color: #f0f0f0;
}

.icon-button svg {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 62px;
  width: 250px;
  transform: translateX(138%);
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 22px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem 0;
  font-size: 14.5px;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #f2f2f2;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
